* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
}

a:link {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

a:hover {
  color: #f3db04;
}

body {
  /* height: 100vh; */
  background-color: rgb(255, 255, 255);
  background-image: url(back-img.png);
  background-repeat: no-repeat;
  background-size: 120%;
  overflow-x: hidden;
}

.header-options {
  font-weight: 100, black;
  font-size: 35px;
}

/* 
.option-1{
 position: absolute;
 width: 97.19px;
height: 46px;
left: 70px;
top: 36px;
}


.option-2{
 position: absolute;
 width: 97.19px;
height: 46px;
left: 280px;
top: 36px;

} */

.option-1 a {
  color: #f3db04;
  /* text-decoration: underline; */
}

.option-2 a {
  color: rgb(0, 0, 0);
}
.option-3 a {
  color: rgb(0, 0, 0);
}
.option-1 {
  position: absolute;
  top: 25px;
  left: 70px;
}

.option-3 :hover {
  color: #f3db04;
  /* font-size: larger; */
}

.option-2 :hover {
  color: #f3db04;
  /* font-size: larger; */
}

.option-2 {
  top: 4vh;
  left: 20vw;
}

.option-2:link {
  color: antiquewhite;
}

.option-3 {
  top: -1vh;
  left: 35vw;
}

.option-4 {
  position: absolute;
  top: 25px;
  left: 700px;
}
/*  
.option-3{
 
position: absolute;
width: 97.19px;
height: 46px;
left: 490px;
top: 36px;
}

.option-4{
 position: absolute;
width: 97.19px;
height: 46px;
left: 700px;
top: 36px;
} */

.header-logo {
  position: absolute;
  right: 100px;
  top: 26px;
  /* border: 2px dashed black;
  padding: 10px 20px; */
}

.heading-text {
  position: absolute;
  width: 97.19px;
  height: 56px;
  left: 280px;
  top: 200px;
  font-size: 60px;
  font-weight: bold;
}

.tracker {
  color: #f3db04;
}

.heading-image {
  position: absolute;
  top: 100px;
  right: 100px;
}

.body-text {
  position: absolute;
  top: 400px;
  left: 280px;
  font-size: 30px;
  font-weight: bold;
}

.start-now-button {
  top: 70vh;
  left: 25vw;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 150px;
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  border-radius: 15px;
  cursor: pointer;
}

/* .start-now-button a:hover { */
/* font-size: x-large; */
/* color: rgb(255, 255, 255); */
/* }  */

/* .text1 {
  top: 600px;
  left: 340px;
  font-size: 24px;
  font-weight: 700px;
  /* text-decoration: underline; */

/* 
.text1 a {
  color: black;
}

.text1:hover {
  text-decoration: underline;
}

.text2:hover {
  text-decoration: underline;
}
.text2 a {
  color: black;
}

.text2 {
  top: 574px;
  left: 480px;
  font-size: 24px;
  font-weight: 700px;
  /* text-decoration: underline; */

